.title {
  color: var(--title-color);
  font-size: var(--title-font-size);
}

.text {
  color: var(--text-color);
  font-size: var(--text-font-size);
  line-height: 1.6;
  margin: 1rem 0;
}

.wrapper {
  padding: 20px;
  background-color: tomato;
}

.pre {
  color: #f5f5f5;
  overflow-x: auto;
  background-color: #666;
  padding: 1rem;
  border-radius: 4px;
}
